<?xml version='1.0' encoding='utf-8'?>
<widget id="com.omni.dennis" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Omniproject</name>
    <description>
        A Solution App for Creative Art.
    </description>
    <author email="pptibca5@gmail.com" href="http://ricardogunawan.com">
        Ricardo1pran and Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android" />
    <platform name="winphone">
        <preference name="windows-arch" value="arm" />
    </platform>

</widget>
